<template lang='pug'>
  form(@submit="onSubmit")
    input(v-model="query")

    button(:disabled="!query.length" nuxt :to="to") Search

</template>

<script>
import { DruxtBlocksBlockMixin } from 'druxt-blocks'
import { DruxtSearchMixin } from 'druxt-search'

export default {
  mixins: [DruxtBlocksBlockMixin, DruxtSearchMixin],

  computed: {
    searchOptions: () => ({
      limit: 3,
    }),

    to() {
      return { path: `/sv/search?query=${this.query}` } // /sv
    },
  },

  methods: {
    onSubmit(e) {
      e.preventDefault()

      this.$router.push(this.to)
    },
  },
}
</script>
