<template lang='pug'>
div
  druxt-entity(
    v-if='coverImage && coverImage.id'
    type='file--file'
    :uuid='coverImage.data.data.id'
    :imageField='coverImage'
  )

  h1.pb-1.font-sans.text-blue {{ title }}
  .text-grey-dark.text-lg.font-medium.text-2xl.max-w-xl.pb-10(v-html='preamble')

  .pb-20.font-serif.prose(v-html='body')

  druxt-debug(
    :json="entity.attributes.metatag"
    summary="entity.attributes.metatag"
  )

  druxt-field(
    :wrapper="true"
    v-if='layout && layout.id'
    :schema='layout.schema'
    :value='layout.value'
    )

</template>

<script>
import { DruxtEntityMixin } from 'druxt-entity'
export default {

  mixins: [DruxtEntityMixin],

  data() {
    return {
      }
  },

  head() {
    return {
      title: this.title,
      meta: this.metatags,
    }
  },

  computed: {
    title: ({ entity }) => entity?.attributes?.title ? entity.attributes.title : '',
    body: ({ entity }) => entity?.attributes?.body?.processed ? entity.attributes.body.processed : '',
    preamble: ({ entity }) => entity?.attributes?.field_ingress?.processed ? entity.attributes.field_ingress.processed : '',
    layout: ({ fields }) => fields?.field_layout_paragraphs ? fields.field_layout_paragraphs : [],
    coverImage: ({ fields }) => fields?.field_image?.data?.data?.id ? fields.field_image : {},
    metatags: ({ entity }) => entity.attributes.metatag
      .filter((o) => o.tag === 'meta')
      .map((o) => ({
        hid: o.attributes.name,
        name: o.attributes.name,
        content: o.attributes.content,
      })),
  },

  watch: {},

  methods: {},
}
</script>
