<template lang='pug'>
div(class='lg:grid lg:grid-flow-col lg:grid-cols-2')
  div(class='mr-5')
    nuxt-link(:to='path')
      druxt-entity(
        v-if='coverImage && coverImage.id'
        type='file--file'
        :uuid='coverImage.data.data.id'
        :imageField='coverImage'
      )
        template(#default="{ entity, schema, value }")
          //- Scaling down the image a bit for the search display
          nuxt-img(
            :src='$config.baseUrl + value.attributes.uri.url'
            width='400px'
            height='250px'
            provider='cloudinary'
            fit='thumbnail'
            )
  div(class='lg:ml-5')
    nuxt-link.no-underline(:to='path')
      h2.pb-1.font-sans.text-blue.text-lg.no-underline {{ title }}
      .text-grey-dark.text-base.font-medium.text-2xl.max-w-xl.pb-10(v-html='preamble')

</template>

<script>
import { DruxtEntityMixin } from 'druxt-entity'
export default {

  mixins: [DruxtEntityMixin],

  data() {
    return {
      }
  },

  head() {
    return {
      title: this.title,
      meta: this.metatags,
    }
  },

  computed: {
    title: ({ entity }) => entity?.attributes?.title ? entity.attributes.title : '',
    path: ({ entity }) => entity?.attributes?.path?.alias ? entity.attributes.path.alias : '',
    preamble: ({ entity }) => entity?.attributes?.field_ingress?.processed ? entity.attributes.field_ingress.processed : '',
    coverImage: ({ fields }) => fields?.field_image?.data?.data?.id ? fields.field_image : {},


  },

  watch: {},

  methods: {},
}
</script>
