<template lang='pug'>
div
  .flex.items-center
    div.flex-none.w-50.h-50
      druxt-entity(
        v-if='image && image.id'
        type='file--file'
        :uuid='image.data.data.id'
        :position='fields.field_position.data'
      )
        template(#default="{ entity, schema, value }")
          //- Format a small round author photo
          nuxt-img(
            :src='$config.baseUrl + value.attributes.uri.url'
            width='150px'
            height='150px'
            provider='cloudinary'
            fit='thumbnail'
            :modifiers="{ roundCorner: 'max' }"
            )

    div.pl-5(v-if='fields && fields.field_position.data')
      span.pb-1.font-sans.text-blue {{ title }} |&nbsp;
      span {{ fields.field_position.data }}

</template>

<script>
import { DruxtEntityMixin } from 'druxt-entity'
export default {

  mixins: [DruxtEntityMixin],

  data() {
    return {
      }
  },

  computed: {
    title: ({ entity }) => entity?.attributes?.title ? entity.attributes.title : '',
    image: ({ fields }) => fields?.field_image?.data?.data?.id ? fields.field_image : {},
  },

  watch: {},

  methods: {},
}
</script>
