<template lang='pug'>
div.max-w-2xl.mx-auto
  input(
    class=''
    v-model="searchText"
    placeholder="Search for ..."
    type="search"
  )

  button.mx-5.uppercase.border.border-blue.bg-blue.text-white.pt-2.pb-2.px-10.rounded-full.cursor-pointer(
    class='hover:no-underline hover:bg-blue-darker'
  ) Search

  .max-w-2xl.mx-auto.bg-white.shadow-md.p-10(v-if="resultsVisible")
    div
      h2.font-sans.text-blue Search results

    div.bg-white(v-for="(item, key) of searchResults"
      :key="key"
      class="mb-3"
      cols="12")

      Druxt.prose.max-w-full(
        module="entity"
        mode="search_result"
        :type="searchMeta[item.ref].type"
        :uuid="searchMeta[item.ref].uuid"
      )
</template>

<script>
import LunrSearch from 'lunr-module/search'

export default {

  extends: LunrSearch,
}
</script>
