<template lang='pug'>
  div
    nuxt-img.w-full(
      v-if='imageUrl && imageAspect'
      :width='imageField.data.data.meta.width'
      :height='imageField.data.data.meta.height'
      importance='high'
      :src='imageUrl'
      provider="cloudinary"
      :class='imageAspect'
      sizes='sm:100vw lg:70vw'
      :alt='imageField.data.data.meta.alt'
      )
</template>
<script>
export default {

  props: ['imageField'],

  data() {
    return {}
  },

  computed: {
    imageUrl() {
      if(this.$attrs.entity?.attributes?.uri?.url) return this.$config.baseUrl + this.$attrs.entity.attributes.uri.url
      else return ''
    },
    imageAspect() {
      return this.imageField?.data?.data?.meta?.width ? `aspect-[${this.imageField.data.data.meta.width}/${this.imageField.data.data.meta.height}]` : ''
    }
  },

  watch: {},

  methods: {},
}
</script>
