@charset "UTF-8";
@font-face {
  font-display: swap;
  font-family: 'BaileySans';
  src: url('../fonts/bailey-sans-400.woff2') format('woff2'),
    url('../fonts/bailey-sans-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'BaileySans';
  src: url('../fonts/bailey-sans-700.woff2') format('woff2'),
    url('../fonts/bailey-sans-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Sabon';
  src: url('../fonts/sabon-serif.woff2') format('woff2'),
    url('../fonts/sabon-serif.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
