<template>
  <div>
    <h1>DruxtLayoutParagraphs example</h1>
    <DruxtEntity mode="default" type="node--page" :uuid="uuid" />
  </div>
</template>

<script>
export default {
  data: () => ({
    uuid: "6648a5e6-b070-4d82-8813-37a0053363c4" // '7b21da83-e2ec-4801-9758-8696340e8f46'
  })
}
</script>
