<template lang="pug">
.container
  h1.text.xxl Views example
  .text-lg This is a page rendered from pages/views.vue, showing that we can render views, a drupal concept for listing content. This particular view lists all the content we want to statically render, so it does double duty as a static rendering hack, letting the nuxt crawler find them. More information in the
    | &nbsp;
    a(href='https://www.npmjs.com/package/druxt-views') druxt-view documentation
    | .

  druxt-view(view-id='temporary_static_render_hack')
    template(#default="{ results, pager }")
      ul
        li(v-for='item in results' :key='item.id')
          nuxt-link(:to='item.attributes.path.alias') {{ item.attributes.title }}
      p {{ pager }}
    DruxtViewsPager

</template>
